{% include 'head.html' {
  page: "index"
}%}

<div class="header-home2">
    <center>  <div id=dis class="zero">
Neel Lakhwani
  </div> </center>
  <div class="subzero">
  <center>
    <a  href="index.html"><div id="work" class="butt">WORK</div></a>
    <a  href="about.html"><div id="about" class="buttactive">ABOUT</div></a>
    <a  href="contact.html"><div id="contact" class="butt">CONTACT</div></a>
  </center>
</div>
</div>
<center><div class="spaced"></div>
<br>
<br>
<center>
<img class="photo" src="/assets/img/neellakhwani1.png" width="200" height="200">
</center>
<br>
<br>
				 <div class="dtext">Hello!<br>
       I am Neel Lakhwani. I love design.</div>

</div>

  {% include 'footer.html' %}

{% include 'scripts.html' %}
