{% include 'head.html' {
  page: "index"
}%}

<div class="header-home2">
    <center>  <div id=dis class="zero">
Neel Lakhwani
  </div> </center>
  <div class="subzero">
  <center>
    <a  href="index.html"><div id="work" class="butt">WORK</div></a>
    <a  href="contact.html"><div id="contact" class="buttactive">CONTACT</div></a>
  </center>
</div>
</div>

<center><div class="spaced"></div>
<br>
<br>
	<img class="photo" src="/assets/img/neellakhwani.jpg" width="200" height="200">

				 <div class="dtext">
<p>Say hi at neel@exunclan.com. <br>Or follow me on social media.
<p><a href="https://www.facebook.com/neellakhwani99">
<button class="hvr-grow-shadow" type="button" onClick="setAlarm()">
<i class="fa fa-facebook-official"></i>
</button>
</a>
<a href="https://twitter.com/neellakhwani">
<button class="hvr-grow-shadow" type="button" onClick="setAlarm()">
<i class="fa fa-twitter"></i>
</button>
</a>
<a href="https://www.instagram.com/neellakhwani/">
<button class="hvr-grow-shadow" type="button" onClick="setAlarm()">
<i class="fa fa-instagram"></i>
</button>
</a>
<a href="https://www.linkedin.com/in/gyanlakhwani">
<button class="hvr-grow-shadow" type="button">
<i class="fa fa-linkedin"></i>
</button>
</a>
<a href="https://github.com/neellakhwani">
<button class="hvr-grow-shadow" type="button">
<i class="fa fa-github"></i>
</button>
</a>         </div>
			 </center>
<center>

<div class="spaced">
</center>
</div>

  {% include 'footer.html' %}

{% include 'scripts.html' %}
