{% include 'head.html' {
  page: "index"
}%}

<div class="header-home2 animated slideInDown">
    <center>  <div id=dis class="zero">
Neel Lakhwani
  </div> </center>
  <div class="subzero">
  <center>
    <a  href="index"><div id="work" class="butt">WORK</div></a>
    <a  href="contact"><div id="contact" class="buttactive">CONTACT</div></a>
  </center>
</div>
</div>

<center><div class="spaced animated slideInUp">
<br>
<br>
	<img class="photo" src="/assets/img/neellakhwani.jpg" width="200" height="200">

				 <div class="dtext">
<p>Hi I am Neel.<br>Send me an email at <a href="mailto:hello@neellakhwani.com?">hello@neellakhwani.com</a>.<br>Or follow me on social media.
         </div>
			 </center>
<center>

<div class="spaced">
</center>
</div>

  {% include 'footer.html' %}

{% include 'scripts.html' %}
