{% include 'head.html' {
  page: "index"
}%}

<div class="header-home2 animated slideInDown">
    <center>  <div id=dis class="zero">
Neel Lakhwani
  </div> </center>
  <div class="subzero">
  <center>
    <a  href="index"><div id="work" class="buttactive">WORK</div></a>
    <a  href="contact"><div id="contact" class="butt">CONTACT</div></a>
  </center>
</div>
</div>

<center><div class="spaced animated slideInUp">
<br>
<br>
  {% include 'exun-tile.html' %}
  {% include 'tedx-tile.html' %}
  {% include 'vector-tile.html' %}
  {% include 'card-tile.html' %}
  {% include 'movie-tile.html' %}
  {% include 'product-tile.html' %}
  {% include 'bobble-tile.html' %}
  {% include 'infographic-tile.html' %}
</div>
</center>
<div class="spaced"></div>
  {% include 'footer.html' %}

{% include 'scripts.html' %}
