{% include 'head.html' {
  page: "index"
}%}

<div class="header-home2">
    <center>  <div id=dis class="zero">
Neel Lakhwani
  </div> </center>
  <div class="subzero">
  <center>
    <a  href="index.html"><div id="work" class="buttactive">WORK</div></a>
    <a  href="about.html"><div id="about" class="butt">ABOUT</div></a>
    <a  href="contact.html"><div id="contact" class="butt">CONTACT</div></a>
  </center>
</div>
</div>

<center><div class="spaced"></div>
				 <div class="zero">Design</div>
  {% include 'exun-tile.html' %}
  {% include 'tedx-tile.html' %}
  {% include 'vector-tile.html' %}
  {% include 'card-tile.html' %}
  {% include 'movie-tile.html' %}
  {% include 'product-tile.html' %}
  {% include 'hackindia-tile.html' %}
  {% include 'jobsplane-tile.html' %}
  {% include 'mova1-tile.html' %}
  {% include 'yurii-tile.html' %}
  {% include 'pmo-tile.html' %}
  {% include 'ioteractions-tile.html' %}


  <div class="zero">Open Source</div>
  {% include 'tocky-tile.html' %}
  {% include 'username-tile.html' %}
  {% include 'chromagen-tile.html' %}
<div class="spaced2">.

</center>
</div>

  {% include 'footer.html' %}

{% include 'scripts.html' %}
