{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><a href="index.html"><p>Home</a> / <a href="infographic.html">Movie Poster</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Infographic</div>
  <div class="blogsubtitle">15 May 2017</div>
  <div class="blogtxt">
    <div class="blogtitle2">About the Project</div>
    <p> This is an infographic I'd made during Exun 2016. Exun is the annual interschool IT Fest organised by Delhi Public School, R.K Puram.
      <br>
      <br>
      The task was to create an infographic explaining the big bang theory.<br> This infographic secured the second position.
    </p><center><img src="/assets/img/infographic1.png"></center>
    <div class="imgdesc">The infographic.</div>
</div>
</div>
<div class="UItext">Other Projects</div>

<div class="scale75">
<center>
  {% include 'vector-tile.html' %}
  {% include 'product-tile.html' %}
</center>
</div>
  {% include 'footer.html' %}
