{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><a href="index.html"><p>Home</a> / <a href="movie.html">Movie Poster</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Movie Poster</div>
  <div class="blogsubtitle">14 May 2017</div>
  <div class="blogtxt">
    <div class="blogtitle2">About the project</div>
    <p> This is a movie poster I had made during Access 2016. Access is the annual interschool IT Fest organised by Modern School, Barakhamba Road.
      <br>
      <br>
      The task was to create a movie poster for a movie titled “Fake”.
      <br>
      <br>
      The movie titled ‘Fake’ is based on how a fake note disturbs the relationship between two successful businessmen. In a general everyday deal, one of them discovers the note — put in by the other businessman — in the transaction and it leads to complexities between them.
    </p><center><img src="/assets/img/movie1.png"></center>
    <div class="imgdesc">The poster.</div>
</div>
</div>
<div class="UItext">Other Projects</div>

<div class="scale75">
<center>
  {% include 'vector-tile.html' %}
  {% include 'product-tile.html' %}
</center>
</div>
  {% include 'footer.html' %}
