{% include 'head.html' {
  page: "index"
}%}

<div class="purplehead">

<div class="zero">
  <center>zero</center>
</div>

  <div class="subzero">
    <center>WORK  -  ABOUT US  -  PHILOSOPHY</center>
  </div>

</div>
<div class="10px">.</div>
<center>
				 <div class="dtext">"Good design is as little design as possible."</div>
          <div class="dtext">- Dieter Rams</div>

			 </center>
<center>
  {% include 'pmo-tile.html' %}



<div class="spaced">
</center>
</div>

  {% include 'footer.html' %}

{% include 'scripts.html' %}
