{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><a href="index.html"><p>Home</a> / <a href="product.html">Product Design</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Product Design</div>
  <div class="blogsubtitle">14 May 2017</div>
  <div class="blogtxt">
    <div class="blogtitle2">About the Project</div>
    <p>lmao
      <br>
    </p><center><img src="/assets/img/product1.png"></center>
    <div class="imgdesc">The lockscreen</div>
</p><center><img src="/assets/img/product2.png"></center>
<div class="imgdesc">The homescreen</div>
<center><img src="/assets/img/product3.png"></center>
<div class="imgdesc">Cover for Under_Score 2016.</div>
<center><img src="/assets/img/exun4.png"></center>
<div class="imgdesc">The website for Exun 2016.</div>
<center><img src="/assets/img/exun5.png"></center>
<div class="imgdesc">The sponsor prospectus and invite for Exun 2016.</div>
</div>
</div>

<div class="UItext">Other Projects</div>

<div class="scale75">
<center>
  {% include 'tedx-tile.html' %}
  {% include 'vector-tile.html' %}
</center>
</div>
  {% include 'footer.html' %}
