{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><a href="index.html"><p>Home</a> / <a href="product.html">Mobile Interface</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Mobile Interface</div>
  <div class="blogsubtitle">14 May 2017</div>
  <div class="blogtxt">
    <div class="blogtitle2">About the Project</div>
    <p>This is a mobile interface I had designed during Code Wars 2016. Code Wars is the annual interschool IT Fest organised by Delhi Public School, Vasant Kunj.
      <br>
      <br>
      We were a team of 3, and the task was to create a 3D model, a video and a user interface for a phone.
      <br>
      I was incharge of making the User Interface for the phone's operating system.
    <center><img src="/assets/img/product1.png"></center>
    <div class="imgdesc">The lockscreen and the homescreen</div>
    <center><img src="/assets/img/product2.png"></center>
    <div class="imgdesc">The modules and incoming call screen</div>
    </div>
    </div>

<div class="UItext">Other Projects</div>

<div class="scale75">
<center>
  {% include 'tedx-tile.html' %}
  {% include 'vector-tile.html' %}
  <p>
    <p>
</center>
</div>
  {% include 'footer.html' %}
