{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><a href="index.html"><p>Home</a> / <a href="tedx.html">TEDxYouth@DPSRKPuram 2016</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">TEDxYouth at DPS RK Puram 2016</div>
  <div class="blogsubtitle">14 May 2017</div>
  <div class="blogtxt">
    <div class="blogtitle2">About the Event</div>
    <p> TED is a media organisation which posts talks online for free distribution under the slogan “ideas worth spreading”.
      <br>
      <br>
      Every year the TEDxYouth club at Delhi Public School, R.K Puram hosts an independently organised TEDx event.
      <br>
      As the team's graphic designer, I was responsible for putting together the identity cards, banners, speaker profiles and posters.
    </p><center><img src="/assets/img/tedx1.png"></center>
    <div class="imgdesc">The onstage banner.</div>
  </p><center><img src="/assets/img/tedx2.png"></center>
    <div class="imgdesc">Organiser and Attendee identity cards.</div>
    <center><img src="/assets/img/tedx3.png"></center>
    <div class="imgdesc">Speaker Profile.</div>
    <center><img src="/assets/img/tedx4.png"></center>
    <div class="imgdesc">Online and Print posters.</div>
</div>
</div>
<div class="UItext">Other Projects</div>

<div class="scale75">
<center>
  {% include 'vector-tile.html' %}
  {% include 'card-tile.html' %}
  <p>
    <p>
</center>
</div>
  {% include 'footer.html' %}
